# Folders
cross/

# Build files
*.o
*.hdd
*.elf
build/

# Editor specific files
compile_flags.txt
.ccls

# Resources
resources/BOOTX64.EFI
resources/echfs-utils
resources/limine-install
resources/limine.sys
resources/mtoolsrc

# Boch's temp files
*.lock
bx_enh_dbg.ini
